<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>

<% if(ratings == 0) { %>
  <p> You have not created any ratings </p>
<% } else { %>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Coffee Shop</th>
            <th>Overall Rating</th>
            <th>Atmosphere</th>
            <th>Coffee Quality</th>
            <th>Dairy Free Options</th>
            <th>Favourite Drink</th>
        </tr>
        </thead>
        <tbody>
            <% if(ratings) { %>
                <% ratings.forEach(function(ratings) { %>
                    <tr>
                        <td><%= ratings.coffee_shop %></td>
                        <td><%= ratings.overall %></td>
                        <td><%= ratings.atmosphere %></td>
                        <td><%= ratings.coffee_quality %></td>
                        <td><%= ratings.dairy_free %></td>
                        <td><%= ratings.favourite_drink %></td>
                        <td><a>Edit</a></td>
                        <td><a>Delete</a></td>
                    </tr>
                <% }); %>
            <% } %>
        </tbody>
    </table>
<% } %>

<a href="/ratings/add" class="btn btn-secondary"><i class="fas fa-plus"></i> Add Rating</a><br>

<a href="/logout" class="btn btn-default" id="dashboard-logout">Logout</a>