<div class="jumbotron">
    <div class="container-fluid">
        <div class="row-sm-6">
        <h1 class="mt-4"><%= shopInfo.name %></h1>
        <h2><%= shopInfo.address %></h2>
        </div>
        <div class="row-sm-6">
            <div class="container-fluid">
                <div class="col-sm-8">
                <div class="googleMap">
                    <iframe
                    class="embed-responsive-item"
                    frameborder="0"
                    width="auto"
                    height="auto"
                    src="https://www.google.com/maps/embed/v1/place?q=<%= formattedName %>&center=<%= shopInfo.lat %>,<%= shopInfo.lng %>&key=AIzaSyBEzVXfJbuPYfezNM29rCoka2sS1aHZ5C8"
                    allowfullscreen=""
                    ></iframe>
                </div>
                </div>
                <div class="col-sm-4">
                    <div class="container-fluid">
                        <div
                        class="row-sm-6"
                        style="display: flex; justify-content: center"
                        >
                        <img
                            id="shopImage"
                            class="img-responsive"
                            src="<%= shopInfo.imageURL %>"
                        />
                        </div>
                        <div
                        class="row-sm-6"
                        style="
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;"
                        >
                            <% if(numRatings > 0){ %>
                                <p><b>Total Reviews: </b><%= numRatings %></p>
                                <p>Overall rating: <%= overallRating %>/5</p>
                                <p>Atmosphere rating: <%= atmosphereRating %>/5</p>
                                <p>Quality rating: <%= qualityRating %>/5</p>
                                <p>Dairy free rating: <%= dairyFreeRating %>/5</p>
                            <% } else { %>
                                <p><b>There are no ratings for this coffee shop</b></p>
                            <% } %>
                            <a href="<%= shopInfo.id %>/rate" class="btn btn-secondary">
                                <i class="fas fa-plus"></i> Add New Rating
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
