<h1 class="mt-4"><%= name %></h1>
<body>
    <h2><%= address %></h2>
    <img src="<%= img %>">
    <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=<%= formattedName %>&center=<%= lat %>,<%= lng %>&key=AIzaSyBEzVXfJbuPYfezNM29rCoka2sS1aHZ5C8" allowfullscreen></iframe>
</body>